In [92]:
import json
import requests as r
from rauth.service import OAuth2Service
import pandas as pd
import numpy as np
import random

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
barentswatch = OAuth2Service(
    name='barentswatch',
    client_id='zryan.rzgar.hassan.mustafa@digdir.no:CampSommer',
    client_secret='ZryanKristian',
    authorize_url='https://id.barentswatch.no/connect/authorize',
    access_token_url='https://id.barentswatch.no/connect/token',
    base_url='https://www.barentswatch.no/bwapi/')

data = {
    'scope': 'api',
    'grant_type': 'client_credentials',
    }

session = barentswatch.get_auth_session(data=data, decoder=json.loads)

In [11]:
res = r.get(
    'https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/localitieswithsalmonoids',
    headers = { 'Authorization' : 'Bearer ' + session.access_token }
)

df = pd.DataFrame(res.json())

dfescape = pd.DataFrame()
locnr = df['localityNo'].tolist()

In [6]:

for i in locnr:
    res = r.get(
        'https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/'+str(i)+'/escape/2022',
        headers = { 'Authorization' : 'Bearer ' + session.access_token }
    )
    
    if res.json()['data']:
        dict_new = res.json()['data'][0]['escapes'][0]
        dfescape = dfescape.append(dict_new, ignore_index=True)   
    else:
        dict_new = res.json()
        dfescape = dfescape.append(dict_new, ignore_index=True)

In [8]:
dfescape = dfescape.drop('data', 1)

In [9]:
dfescape

,localityNo,year,cleanerFish,comment,count,countCategory,countEstimated,countType,county,countyCode,...,recaptureStarted,recapturesCompleted,size,sizeEstimated,species,status,statusLocality,waterEnvironment,waterEnvironmentCode,week
0,30096,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12765,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10665,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13823,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33437,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,10805,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,20176,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1917,11338,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,29417,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919,45032,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
dflus = pd.DataFrame()
locnr = df['localityNo'].tolist()
for i in locnr:
    res = r.get(
        'https://www.barentswatch.no/bwapi/v1/geodata/fishhealth/locality/'+str(i)+'/avgfemalelice/2022',
        headers = { 'Authorization' : 'Bearer ' + session.access_token }
    )
    
    #print(res.json())
    
    #if res.json()['data']:
    #    dict_new = res.json()['data']
    #    print(dict_new)
    #    print('-----')
    #    dflus = dflus.append(dict_new, ignore_index=True)
    #else:
    dict_new = res.json()
    dflus = dflus.append(dict_new, ignore_index=True)

In [83]:
dflus = dflus.drop('type', 1)

In [120]:
dflus

,localityNo,year,data,status,title,traceId,type
0,30096.0,2022.0,[],NaN,NaN,NaN,NaN
1,12765.0,2022.0,[],NaN,NaN,NaN,NaN
2,10665.0,2022.0,[],NaN,NaN,NaN,NaN
3,13823.0,2022.0,[],NaN,NaN,NaN,NaN
4,33437.0,2022.0,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1946,NaN,NaN,NaN,401.0,Unauthorized,00-3b0cb5e1f7fa8bcd33e208540e1fc4cf-8b7490decc...,https://httpstatuses.com/401
1947,NaN,NaN,NaN,401.0,Unauthorized,00-a116ec44c7f2dc78011f10e39003cf01-9c9eb7753a...,https://httpstatuses.com/401
1948,NaN,NaN,NaN,401.0,Unauthorized,00-d08f0cf5fee65a8986a20fb713443315-cce59fb77c...,https://httpstatuses.com/401
1949,NaN,NaN,NaN,401.0,Unauthorized,00-68ef1fbcec1ff25c4eee3e9294f77f5d-a3a67de12f...,https://httpstatuses.com/401
1950,NaN,NaN,NaN,401.0,Unauthorized,00-b360b96bca70d0284354dff6cc66dcad-9e7df866cc...,https://httpstatuses.com/401

In [152]:
dfas = pd.read_csv('as.csv', sep = ';')
dfas['LOK_KAP'] = dfas['LOK_KAP'].str.replace(',','.')

In [127]:
#dfas.loc[dfas['LOK_NR'] == 10362]

In [128]:
totalgood = 0
totalfail = 0
locnrmedas = []
for i in locnr:
    if len(dfas.loc[dfas['LOK_NR'] == i]) == 1:
        totalgood += 1
        locnrmedas.append(i)
    else:
        totalfail +=1

In [1]:
listemedlocnreksempel = dfas.loc[dfas['ORG.NR/PERS.NR'] == 918858741]['LOK_NR'].tolist()
listemedlocnreksempel

NameError: name 'dfas' is not defined

In [123]:
dfdead = pd.DataFrame()

In [159]:
deadlighet = []
for i in locnrmedas:

    enhet = dfas.loc[dfas['LOK_NR'] == i]['LOK_ENHET'].values[0]
    kapasitet = dfas.loc[dfas['LOK_NR'] == i]['LOK_KAP'].values[0]
    
    if enhet == 'STK':
        konvertert = int(int(dfas.loc[dfas['LOK_NR'] == i]['LOK_KAP'].values[0])/5)
        dfas['LOK_KAP'][dfas.loc[dfas['LOK_NR']==i].index[0]] = konvertert
        dfas['LOK_ENHET'][dfas.loc[dfas['LOK_NR']==i].index[0]] = 'TN'
    elif enhet == 'KG':
        konvertert = int(int(dfas.loc[dfas['LOK_NR'] == i]['LOK_KAP'].values[0])/1000)
        dfas['LOK_KAP'][dfas.loc[dfas['LOK_NR']==i].index[0]] = konvertert
        dfas['LOK_ENHET'][dfas.loc[dfas['LOK_NR']==i].index[0]] = 'TN'
    elif enhet == 'M3':
        konvertert = int(int(dfas.loc[dfas['LOK_NR'] == i]['LOK_KAP'].values[0])*5)
        dfas['LOK_KAP'][dfas.loc[dfas['LOK_NR']==i].index[0]] = konvertert
        dfas['LOK_ENHET'][dfas.loc[dfas['LOK_NR']==i].index[0]] = 'TN'
    
    
    deadlighet.append(int(float(dfas.loc[dfas['LOK_NR'] == i]['LOK_KAP'].values[0])*random.uniform(12.5, 17.5)/100))
    
dictdead = {'LOK_NR':locnrmedas,'Year': 2022,'Deadlighet':deadlighet, 'Enhet': 'TN'}
dfdead = pd.DataFrame(dictdead)
dfdead

      LOK_NR  Year  Deadlighet Enhet
0      10665  2022           0    TN
1      13823  2022       64717    TN
2      33437  2022         488    TN
3      30196  2022          17    TN
4      35297  2022         246    TN
...      ...   ...         ...   ...
1383   24175  2022         604    TN
1384   20176  2022          78    TN
1385   11338  2022         910    TN
1386   29417  2022         255    TN
1387   45032  2022         821    TN

[1388 rows x 4 columns]